@import url('https:fonts.googleapis.com/css?family=poppins:100,200,300,400,500,600,700,800,900');

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}

.container .box{
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.06);
}

.container .box:before{
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}

.container .box:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95%;
    height: 100%;
    background: linear-gradient(95deg,rgba(255,255,225,0.05),rgba(0,0,0,0));
    pointer-events: none;
}

.container .box:nth-child(1):before{
    background: linear-gradient(315deg,#ff0057,#e64a19);
}

.container .box:nth-child(2):before{
    background: linear-gradient(315deg,#19e019,#e619cb);
}

.container .box:nth-child(3):before{
    background: linear-gradient(315deg,#0059ff,#8ae710);
}

.container .box:nth-child(4):before{
    background: linear-gradient(315deg,#dd00ff,#e64a19);
}

.content{
    position: relative;
    padding: 10px;
}

.box .content h2{
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0px;
    padding: 0px;
    font-size: 10em;
    color: rgba(255, 255, 255, .05);
    transition: 0.5s;
}

.box:hover .content h2{
   top: -90px; 
}

.box .content h3{
    margin: 0px 0px 10px;
    padding: 0px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.box .content p{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: #fff;
}

.box .content a{
    position: relative;
    margin: 20px 0px 0px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.box:hover .content a{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.box .content a:hover{
    background: #fff;
    color: #000;
    transition: 0.3s;
}